#about {
  position: relative;
  top: 14%;
  height: 100%;
  width: 100%;
}
.about__content {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2% 2%;
  &_txt,
  &_image {
    text-align: left;
    h3 {
      color: var(--yellow-theme-main);
      font-size: 1.7rem;
      padding: 2% 0%;
    }
    p {
      color: white;
      font-size: 1.6rem;
    }
  }
  &_txt {
    width: 60%;
    .personal_details {
      padding-top: 3%;
    }
    p {
      color: white;
      line-height: 1.65;
      padding-bottom: 2rem;
      border-bottom: 1px dashed var(--yellow-theme-main);
      font-size: 1.5rem;
    }
    ul > li {
      list-style: none;
      line-height: 1rem;
      padding: 1.5% 0%;
      color: white;
      font-size: 1.5rem;
    }
  }
  &_image {
display:flex;
justify-content: center;
    &_inside {
      margin-top: 9%;
      width: 270px;
      height: 270px;
      background: radial-gradient(110px, var(--yellow-theme-main), transparent);
      border: 1px solid var(--yellow-theme-main);
      border-radius: 50%;
      position: relative;
      animation: rotation 10s linear 1s infinite;
      div:nth-child(1) {
        position: absolute;
        left: 44%;
        top: -9%;
      }
      div:nth-child(2) {
        position: absolute;
        top: 42%;
        left: -9%;
      }
      div:nth-child(4) {
        position: absolute;
        top: 42%;
        left: 90%;
      }
      div:nth-child(3) {
        position: absolute;
        left: 44%;
        top: 91%;
      }
    }
  }
}
.details-item {
  display: flex;
  align-items: center;
}
.value {
  display: flex;
  align-items: center;
  margin-left: 7%;
}
@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 768px) {
  .about__content{
    display: flex;
    flex-direction:column;
    width:100%;
  }
  .about__content_txt{
    width:100%;
  }
  .about__content_image_inside{
    margin-top: 9%;
    width: 250px;
    height: 250px;
    background: radial-gradient(120px, var(--yellow-theme-main), transparent);
  }
}
