@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* for root colors using css variables */
:root{
--yellow-theme-bg:#1d1d1d;
--yellow-theme-main:#ffdd40;
--yellow-theme-txtcolor:#ffffff;
--yellow-theme-navigation-color:#181818;
}

/* reset css */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

html{
    height: 100%;
    font-size: 62%;
}
body{
    background: var(--yellow-theme-bg);
    height:100%;

}
/* this is main container and is in public, index folder */
#root{
    height: 100%;
}